<div class="content__products--card">
    <img [src]="product.img" alt="product">
    <div class="card__container">
        <h3 class="card__title">{{product.title}}</h3>
        <p class="card_subtitle">{{product.price | currency}}</p>
        <p class="card__description">{{product.description}}</p>
        <div class="panelButtons">
            <a *ngIf="addCart" (click)="addProduct()">Add cart</a>
            <a routerLink="/detailProduct/{{product.id}}">See product</a>
            <a *ngIf="!addCart">Quanty</a>
        </div>
    </div>
</div>