<section class="content">
    <div class="content__header">
        <h2>Bienvenido a tu panel de administrador</h2>
    </div>
    <section class="table">
        <h2 class="table__title">Productos</h2>
        <table class="table__content">
            <thead class="table__content-head">
                <tr>
                    <th>Producto</th>
                    <th colspan="2">Actions</th>
                </tr>
            </thead>
            <tbody class="table__content-body">
                <tr>
                    <td>Tenis</td>
                    <td>Eliminar</td>
                    <td>Editar</td>
                </tr>
                <tr>
                    <td>Camisa</td>
                    <td>Eliminar</td>
                    <td>Editar</td>
                </tr>
                <tr>
                    <td>Balon</td>
                    <td>Eliminar</td>
                    <td>Editar</td>
                </tr>
            </tbody>
        </table>
    </section>
</section>