.loading {
    text-align: center;
}

.detail-product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.detail-product h2,
h3 {
    text-align: center;
}

.detail-product img {
    width: 60%;
    align-self: center;
}

.detail-product p {
    text-align: center;
}

.detail-product button {
    width: 80%;
    align-self: center;
    border-radius: 300px;
    border: none;
    color: var(--brand-secondary);
    padding: 10px;
    font-weight: bold;
    background-position: center;
    transition: all 0.6s;
}

.detail-product button:hover {
    background-color: rgba(97, 9, 255, 0.2);
    border-radius: 8px;
    background-image: radial-gradient(circle, transparent 1%, rgba(97, 9, 255, 0.1) 1%);
    background-position: center;
    background-size: 15000%;
}

.detail-product button:active {
    transition: background 0s;
    background-color: rgba(97, 9, 255, 0.5);
    background-size: 100%;
}