.error {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

h2 {
    font-size: 40px;
    text-align: center;
}

button {
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
    background-color: var(--active-primary);
    padding: 10px;
    border-radius: 30px;
}