.content {
    margin-top: 130px;
}

.content__header {
    text-align: center;
}

.ProductDetail__form-btn {
    border-radius: 30px;
    font-weight: bolder;
    border: none;
    padding: 20px;
    cursor: pointer;
    background-color: var(--active-primary);
    color: white;
    transition: all 300ms;
}

.ProductDetail__form-btn:hover {
    background-color: var(--brand-secondary);
}