<header class="header">
    <i (click)="showMenu = !showMenu" class="material-icons burger-menu">menu</i>
    <h2><a routerLink='/' routerLinkActive="router-link-active">Krishwait</a></h2>
    <nav class="header__nav" id="nav" [ngClass]="{'header__nav--show': showMenu}">
        <ul>
            <li> <a routerLink='/' routerLinkActive="router-link-active"><i class="material-icons">people</i><span>About us</span></a></li>
            <li><a class="header__nav--cart" routerLink='/' routerLinkActive="router-link-active"><i class="material-icons">shopping_cart</i><span>Cart</span>
                <!-- <span class="header__nav--notification">1</span> -->
            </a></li>
            <li><a routerLink='/' routerLinkActive="router-link-active"><i class="material-icons">person</i><span>Login</span></a></li>
        </ul>
    </nav>
</header>