.header__prodcuts {
	margin-top: 13%;
}
.content__products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 50px 20px 0px 20px;
}

.content__products--card {
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 10px;
}

.content__products--card img {
	width: 100%;
	background-color: var(--brand-secondary);
	background: linear-gradient(0deg, black
    	        0%, var(--brand-secondary)
    	        50%, black
    	        100%, var(--brand-secondary) 100%);
	border-radius: 10px 10px 0px 0px;
}

.card_subtitle, .card__description {
	opacity: 0.6;
}
.card__description {
	font-weight: 400;
}

.card__container {
	padding: 15px;
}

.panelButtons {
	display: flex;
	justify-content: space-between;
}

.panelButtons a {
	text-decoration: none;
	color: var(--brand-secondary);
	padding: 10px;
	font-weight: bold;

	background-position: center;
	transition: all 0.6s;
}

.panelButtons a:hover {
	background-color: rgba(97, 9, 255, 0.2);
	border-radius: 8px;
	
	background-image: radial-gradient(circle, transparent 1%, rgba(97, 9, 255, 0.1) 1%);
	background-position: center;
	background-size: 15000%;
}

.panelButtons a:active {
	transition: background 0s;
	background-color: rgba(97, 9, 255, 0.5);
	background-size: 100%;
}

@media screen and (max-width: 880px) {
	.header__products {
		margin-top: 7%;
	}
}

@media screen and (max-width: 880px) {
	.panelButtons a {
		font-size: 94%;
	}
}

@media screen and (max-width: 768px) {
	.content .header__products {
		margin-top: 5%;
	}

	.content__products {
		grid-template-columns: repeat(2, 1fr);
	}

	.panelButtons a {
		font-size: 100%;
	}
}

@media screen and (max-width: 768px) {
	.content .header__products {
		margin-top: 10%;
	}			
}

@media screen and (max-width: 550px) {
	.content__products {
		grid-template-columns: repeat(1, 1fr);
	}		
}